<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BudgetManual.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BudgetManual.My.MySettings.BUDGETConnectionString"
        connectionString="Data Source=MASHIMARO2\SQLEXPRESS2014;Initial Catalog=BUDGET_BTMT_DEV;Persist Security Info=True;User ID=sa;Password=abc123$1"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <BudgetManual.My.MySettings>
      <setting name="ProgramTitle" serializeAs="String">
        <value>BTMT Budgeting System</value>
      </setting>
      <setting name="SqlCmdFile" serializeAs="String">
        <value>\DB\SqlCmd.xml</value>
      </setting>
      <setting name="ProgramDesc" serializeAs="String">
        <value>Description :</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="UploadData" serializeAs="String">
        <value>BG_T_UPLOAD_DATA</value>
      </setting>
      <setting name="BudgetData" serializeAs="String">
        <value>BG_T_ACCOUNT_REOPEN,BG_T_BUDGET_ADJUST,BG_T_BUDGET_ADJUST2,BG_T_BUDGET_DATA,BG_T_BUDGET_HEADER,BG_T_BUDGET_PERIOD,BG_T_INFORMATION</value>
      </setting>
      <setting name="MasterData" serializeAs="String">
        <value>BG_M_ACCOUNT,BG_M_ASSET_CATEGORY,BG_M_ASSET_GROUP,BG_M_ASSET_PROJECT,BG_M_BUDGET_ORDER,BG_M_CHILD_PIC,BG_M_DEPT,BG_M_PERSON_IN_CHARGE,BG_M_SETTINGS,BG_M_TRANSFER_MASTER,BG_M_USER</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>MASHIMARO2\SQLEXPRESS2014</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>abc123$1</value>
      </setting>
      <setting name="ConnStr" serializeAs="String">
        <value>user id=sa; data source=MASHIMARO2\SQLEXPRESS2014; persist security info=True; initial catalog=BUDGET_BTMT_DEV;password=abc123$1</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>BUDGET_BTMT_DEV</value>
      </setting>
    </BudgetManual.My.MySettings>
  </applicationSettings>
</configuration>






