<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="INV" connectionString="Server=PC-WATCHARAWIT\SQLEXPRESS2012;uid=sa;pwd=abc123$1;Initial Catalog=ACCINV" providerName="System.Data.SqlClient"/>
    <add name="BTMT" connectionString="Server=PC-WATCHARAWIT\SQLEXPRESS2012;uid=sa;pwd=abc123$1;Initial Catalog=BTMTMASTER" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DIALOG_FILE_EXT" value="Excel Workbook|*.xlsx"/>
    <!-- Import -->
    <add key="IMP_EXCEL_COLUMN_MASTER_RM" value="TypeCode,RMCode,DescName,StdPrice,ActPrice,UnitCode,Qty,Qunit"/>
    <add key="IMP_EXCEL_COLUMN_MASTER_RM_PRICE" value="TypeCode,RMCode,DescName,StdPrice,ActPrice,UnitCode,Qty,SPrice,APrice"/>
    <add key="IMP_EXCEL_COLUMN_MASTER_PIGMENT" value="EachPigmentCode,EachRevision,rmCode,RmQty"/>
    <add key="EXCEL_COLUMN_MASTER_COMPOUND_WEIGHT" value="Seq_No,FinalCompound_Code,Compound_Code,Revision_No,RMCode,Qty"/>
    <add key="EXCEL_COLUMN_MASTER_COMPOUND_RHC" value="Seq_No,FinalCompound_Code,Compound_Code,Revision_No,RMCode,Qty,RHC"/>
    <!-- Export -->
    <add key="EXP_EXCEL_COLUMN_MASTER_RM" value="TypeName,RMCode,DescName,Qty,shortUnitName,Qunit,Unit,StdPrice,ActPrice"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_MASTER_RM" value="Type,Code,Name,Qty,Unit,Qty,Unit,@Std Price (KG),@Act Price (KG)"/>
    <add key="EXP_EXCEL_COLUMN_MASTER_RM_PRICE" value="TypeName,RMCode,DescName,StdPrice,SPrice,ActPrice,APrice"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_MASTER_RM_PRICE" value="TypeName,Code,Name,@ STD Price,New Price,@ ACT Price,New Price"/>
    <add key="EXP_EXCEL_COLUMN_MASTER_PIGMENT" value="EachPigmentCode,EachRevision,rmCode,RmQty"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_MASTER_PIGMENT" value="EachPigmentCode,EachRevision,rmCode,RmQty"/>
    <add key="EXP_EXCEL_COLUMN_COMPOUND_WEIGHT" value="Active,cc,Seq,CompCode,Revision,MasterCode,RMRev,Qty,Unit,TQty,Per"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_COMPOUND_WEIGHT" value="Active,Group,Stage,Compound,Rev.,R/M Material Compound,Rev.,Qty,Unit,Total,% of WT"/>
    <add key="EXP_EXCEL_COLUMN_COMPOUND_RHC" value="cc,CompCode,Revision,RMCode,Qty,TQty,mRHC,RHC"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_COMPOUND_RHC" value="Group,Compound,Rev.,R/M Material,Qty,Total,RHC,Total"/>
    <add key="EXP_EXCEL_COLUMN_PRICE_RM" value="RMCode,DescName,StdPrice,ActPrice,DateUp,TimeUp"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_PRICE_RM" value="Code,DescName,@ STD Price,@ ACT Price,Date,Time"/>
    <add key="EXP_EXCEL_COLUMN_PRICE_PIGMENT" value="MasterCode,StdPrice,ActPrice,Std,ACT,DateUp,TimeUp"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_PRICE_PIGMENT" value="Code (Material),@ STD/KG,@ ACT/KG,@ STD/BT,@ ACT/BT,Date,Time"/>
    <add key="EXP_EXCEL_COLUMN_PRICE_COMPOUND" value="FinalCompound,Compcode,Revision,Std,Act,StdBT,ActBT,DateUp,TimeUp"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_PRICE_COMPOUND" value="Code (Material),CompoundCode,Rev.,@ STD/KG,@ ACT/KG,@ STD/BT,@ ACT/BT,Date,Time"/>
    <add key="EXP_EXCEL_COLUMN_PRICE_PRESEMI" value="MasterCode,STDKG,ACTKG,Std,Act,StdM,ActM,DateUp,WLN"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_PRICE_PRESEMI" value="Code (Material),@STD of KG,@ACT of KG,@ STD of Unit,@ ACT of Unit,@ STD of Formula,@ ACT of Formula,Date,Width(mm)/Length(mm)/Num"/>
    <add key="EXP_EXCEL_COLUMN_PRICE_SEMI" value="Final,STDKG,ACTKG,StdPrice,ActPrice,Std,Act,DateUp,TimeUp,WLN"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_PRICE_SEMI" value="Code (Material),@STD of KG,@ACT of KG,@ STD of Unit,@ ACT of Unit,@ STD by Material Unit,@ ACT by Material Unit,Date,Time,Width(mm)/Length(mm)/Num"/>
    <add key="EXP_EXCEL_COLUMN_PRICE_GT" value="MasterCode,Revision,Tiresize,STDk,ACTk,STDPrice,ActPrice,Qty,DateUp,TimeUp"/>
    <add key="EXP_EXCEL_COLUMN_HEADER_PRICE_GT" value="Code,Revision,Tiresize,@ STD KG,@ ACT KG,@ STD Unit,@ ACT Unit,Weight(g.),Date,Time"/>
  </appSettings>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
